node_modules
npm-debug.log
yarn-error.log
.git
.gitignore
.DS_Store
*.apk
*.aab
*.ipa
build/
android/app/build/
android/.gradle/
ios/build/
ios/Pods/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
.vscode/
.idea/
*.log
.env
.env.local
output/
*.md
!README.md



